body{
    
    background-image: linear-gradient(rgb(0, 38, 255), rgb(255, 255, 255));
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    min-height: 100vh;
};
h1{
    color: white;
}
nav{
    background-color: white;
}
p{
    text-align: justify;
}
.sell-pitch {
    background-image: url("https://www.citynews1130.com/wp-content/blogs.dir/sites/9/2019/11/JOHV18831552.jpg");
    /* Full height */
    height: 100%;
    padding: 30px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sell-pitch .container {
    color: rgb(238, 238, 238);
    background-color: black;
    padding: 30px;
  }
footer{
    background-color: black;
}